@page "/start"
@using Microsoft.Extensions.Logging

@inject ILogger<Start> logger

<h1>Start a quote</h1>

<EditForm Model="Inputs" OnValidSubmit="Submitted">
    <FluentValidationValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Customer Name</label>
        <input @bind="@Inputs.CustomerName" class="form-control" placeholder="e.g Michael Law" />
    </div>

    <div class="form-group">
        <label>Vehicle Price (£)</label>
        <input type="number" @bind="@Inputs.VehiclePrice" class="form-control" placeholder="e.g 10000" />
    </div>
    <div class="form-group">
        <label>Deposit (£) </label>
        <input type="number" @bind="@Inputs.Deposit" class="form-control" placeholder="e.g 2000" />
        <small><i><strong>Minimum @Inputs.MinimumDepositDisplay%</strong></i></small>
    </div>
    <div class="form-group">
        <label>Over how many years?</label>
        <InputSelect @bind-Value="@Inputs.NumberOfYears" class="form-control">
            @foreach (var years in Inputs.AvailableDurations)
            {
            <option value="@years">@years</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label>Arrangement Fee (£)</label>
        <input type="number" @bind="@Inputs.ArrangementFee" class="form-control" placeholder="e.g 88" />
    </div>
    <div class="form-group">
        <label>Settlement Fee (£)</label>
        <input type="number" @bind="@Inputs.SettlementFee" class="form-control" placeholder="e.g 22" />
    </div>
    <div class="form-group">
        <button>Save</button>
    </div>

</EditForm>

@code {
    QuoteInputs Inputs = new QuoteInputs();

    void Submitted()
    {
        logger.LogDebug("Form submitted", Inputs);
    }
}
